.search-form {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 24px;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.is-hidden {
    display: none;
}

img {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-card {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(120, 202, 120);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}