img {
  display: block;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

input {
  padding: 8px;

  border-radius: 10px;
  border: 1px solid rgb(250, 200, 100);
  
  font-size: 14px;
}

button {
  min-width: 100px;
  padding: 10px 20px;

  border: transparent;
  border-radius: 10px;

  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;

  background-color: rgb(250, 200, 100);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: rgb(2, 190, 110);
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.photo-card {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;

  overflow: hidden;

  background-color: rgb(2, 190, 110);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  transform: scale(1.05);
}

.info {
  padding-left: 10px;
}

.scrollup {
  position: fixed;
  right: 24px;
  bottom: 8px;

  width: 36px;
  height: 36px;

  background-color: #fac864;
  border-radius: 50%;
}

.scrollup::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 20px;

  transform: translate(-50%, -30%) rotate(45deg);

  border-top: 5px solid rgb(2, 190, 110);
  border-left: 5px solid rgb(2, 190, 110);
}
